#data{
    border: 1px solid black;
    width:500px;
    
}

th{
    border: 1px solid black;
    padding:15px;
    font-weight: bold;
    background-color: black;
    color: white;
}
td{
    border: 1px solid black;
    padding:15px;
}
tr:nth-child(even){
    background: #FFF;
}

tr:nth-child(odd){
    background: #CCC
}