<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>GUDLFT Registration</title>
</head>
<body>
    <h1>Welcome to the GUDLFT Registration Portal!</h1>
    {% with messages = get_flashed_messages()%}
    {% if messages %}
        <ul>
       {% for message in messages %}
            <li>{{message}}</li>
        {% endfor %}
       </ul>
    {% endif%}
    {%endwith%}
    Please enter your secretary email to continue:
    <form action="showSummary" method="post">
        <label for="email">Email:</label>
        <input type="email" name="email" id=""/>
        <button type="submit">Enter</button>
    </form>
    <h3>Tableau des réservations:</h3>
    {% block content %}
        <table id="data" class="table table-striped" >
            <thead>
                <tr>
                <th>Nom du club</th>
                {% for competition in competitions %}
                    <th>{{competition['name']}}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
    
                    {% for k, v in bookings.items() %}
                    <tr>
                        <td>{{k}}</td>
                        {% for competition_name, nb_place in v.items() %}
                            <td>{{nb_place}}</td>
                        {% endfor%}
                    </tr>
                    {% endfor %}
                
            </tbody>
        </table>
    {% endblock %}
</body>
</html>